---
import ListGroup from "@/components/ListGroup.astro";
import ListItem from "@/components/ListItem.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const dateFormatter = new Intl.DateTimeFormat("fr", { dateStyle: "full" });
const homeworksCollection = await getCollection("homeworks");
const groupedHomeworks = Map.groupBy(homeworksCollection, (homework) =>
  dateFormatter.format(homework.data.date)
);
---

<BaseLayout pageTitle="Devoirs">
  <h1>Devoirs à faire</h1>
    {
      Array.from(groupedHomeworks).map(([date, homeworks]) => {
        return (
          <h2>{date}</h2>
          <ListGroup>
            {homeworks.map((homework) => (
              <ListItem href={"/homeworks/" + homework.slug}>
                {homework.data.title}
              </ListItem>
            ))}
          </ListGroup>
        );
      })
    }
</BaseLayout>

<style>
  h2 {
    text-transform: capitalize;
  }
</style>
