---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="2B Cordeliers">
    <h1>2B Cordeliers</h1>
    <ul>
        <li><a href="/homeworks">Devoirs à faire</a></li>
    </ul>
</BaseLayout>