---
import ListGroup from "@/components/ListGroup.astro";
import ListItem from "@/components/ListItem.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="2B Cordeliers">
  <h1>2B Cordeliers</h1>
  <h2>Liens</h2>
  <ListGroup>
    <ListItem href="/tests" text="Contrôles" />
    <ListItem href="/homework" text="Devoirs à faire" />
  </ListGroup>
</BaseLayout>
