---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const tests = await getCollection("tests");
  return tests.map((test) => ({
    params: { slug: test.slug },
    props: test,
  }));
}

type Props = CollectionEntry<"homework">;

const test = Astro.props;
const { Content } = await test.render();
---

<BaseLayout pageTitle={"2B Cordeliers - " + test.data.title}>
  <h1>{test.data.title}</h1>
  <h2>{test.data.subject}</h2>
  <Content />
</BaseLayout>
