---
import { version } from "package.json";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
const date = new Intl.DateTimeFormat("fr", { dateStyle: "long" }).format(
  Date.now()
);
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="2bcordeliers" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta property="og:title" content="2B Cordeliers" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://2bcordeliers.github.io/" />
    <meta
      property="og:image"
      content="https://2bcordeliers.github.io/media/presentation-card.png"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="data:," />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="container">
      <slot />
      <p><i>Version {version} - {date}</i></p>
    </div>
  </body>
</html>

<style>
  body {
    font-family: system-ui;
  }

  .container {
    width: calc(100% - 4rem);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  p > i {
    color: #ddd;
  }
</style>
